* {
    box-sizing: border-box;
    margin: 0;
}
body { margin: 0; 
justify-content: center;
}

#calculator{  
        dislay: grid;
        grid-column: 1fr, 1fr, 1fr, 1fr,;
        grid-row: 1fr, 1fr, 1fr, 1fr, 1fr,;
        width: 400px;
        height: 500px;
        justify-items: center;
        justify-content: center;
        background-color: #ff3384;
        font-family: Oswald, sans-serif;
        font-size: 30px;
        color: whitesmoke;
        border-bottom: 20px solid #4d2072;
        border-top: 20px solid #4d2072;
        border-right: 20px solid #4d2072;
        border-left: 20px solid #4d2072;
   }
   #clear {
       display: grid;
       grid-column: 1;
       grid-row: 1;
       height: 50px;
       width: 50px;
       border-bottom: 2px solid whitesmoke;
       border-top: 2px solid whitesmoke;
       border-left: 2px solid whitesmoke;
       border-right: 2px solid whitesmoke;
       justify-content: center;
   }
   #display{
    display: grid;
    grid-column: 3/4;
    grid-row: 1;
    height: 50px;
    width: 400px;
    border-bottom: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
    justify-content: center;
}